nav {
  text-transform: uppercase;
  background: linear-gradient(to right, #2c547c 0%, #8e3952 63%, #dc2430 100%);
}

li {
  margin-left: 20px;
  margin-right: 20px;
}

.btn-search {
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
}
