<div class="container-fluid">
  <div class="movie-details-header">
    <div class="img-header" [ngStyle]="{ 'background-image': 'url(' + movie?.image_url + ')'}">

    </div>
    <div class="container">
      <div class="row">

        <div class="col-sm-3 movie-detail-poster">
          <img [src]="movie?.image_url" />
        </div>

        <div class="col-sm-9">
          <div class="movie-title">
            <h1>{{ movie?.title }}</h1>
            <div class="movie-imdb-rating">
              <i class="material-icons icon-star">star</i>
              {{ movie?.imdb_rating }}
            </div>
          </div>
          <div class="movie-credits">
            <p>
              <strong>Director: </strong> {{ movie?.title }}
            </p>
            <p>
              <strong>Cast: </strong> {{ movie?.title }}
            </p>
          </div>
          <div class="movie-buttons">
            <button mat-flat-button class="btn-primary">Buy a Ticket</button>
            <button mat-raised-button class="btn-secondary" (click)="openTeaserDialog()">Watch Teaser</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- <section class="movie-details-text">


  </section> -->

</div>
