/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #f3f3f3;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.dialog-transparent>mat-dialog-container {
  background: transparent;
  box-shadow: none;
}

.dialog-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 1000;

}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.8;
}
