.search-bar {
  position: relative;
}

.search-bar input {
  width: 300px;
}

.suggestion-bar {
  width: calc(100% - 8px);
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.8) 0 4px 14px 0;
  overflow: hidden;
  padding: 0px;
  z-index: 99999;
  border-radius: 0 0 6px 6px;
  font-size: 13px;
}

.search-result-item {
  padding: 5px;
  border-bottom: 1px solid rgb(102, 102, 102);
}

.search-result-item:hover {
  background-color: #F8F1BE;
}

.search-result-item-text {}

.search-result-item a:link {
  text-decoration: none;
  color: #000;
}

.search-result-item a:visited {
  text-decoration: none;
  color: #000;
}

.search-result-item a:hover {
  color: #000;
}

.search-result-item a:active {
  /* Applies to activated links */
  text-decoration: underline;
  font-weight: bold;
  background-color: black;
  color: white;
}

.search-result-item-poster img {
  width: 50px;
}

.search-result-item-title h5 {
  font-size: 18px;
  font-weight: 600;
}

.search-result-item-year p {
  font-size: 14px;
  font-weight: 200;
  font-style: italic;
  color: #666;
}
